.navbar{
  margin-left: 400px;
  margin-right: 300px;
  margin-bottom: 50px;
  background-color: aliceblue;
  border-radius: 25px;
}

.navbar button{
    font-size: 30px;
    border: none;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
    background: none;
}

.navbar button:hover{
    border-bottom: 4px solid purple;
}